.container {
    display: flex;
    width: 100vw;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:visited {
    text-decoration: none;
    color: inherit;
}

.disabled {
    cursor: not-allowed;
}

.disabled:hover {
    background-color: inherit;
}
