.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginTitle {
    margin-bottom: 20px;
}

.login>input {
    padding: 10px;
    margin-bottom: 20px;
}

.login>button {
    padding: 10px;
    width: 100px;
    cursor: pointer;
}